<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing in Browser">
  <test name="Test in Firefox">
    <classes>
      <class name="com.company.ST.STest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test in Crome">
    <classes>
      <class name="com.company.ST.CTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
